---
import "@src/styles/global.scss";
import "@src/styles/reset.scss";
import "@src/styles/variable.scss";
import "@src/styles/base.scss";
import "@src/styles/utility.scss";
import "@src/styles/layout.scss";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts.mjs";

export interface Props {
    title?: string;
    description?: string;
    image?: string;
    noindex?: boolean;
}

const { title, description, image, noindex } = Astro.props;

const pageTitle = title ? `${title} - ${SITE_TITLE}` : SITE_TITLE;
const pageDescription = description ? description : SITE_DESCRIPTION;
const pageType = Astro.url.pathname == "/" ? `website` : `article`;
const pageOgpImg = image ? image : `/ogp.png`;
---

<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <title>{pageTitle}</title>
    <meta name='description' content={pageDescription} />
    <meta name='format-detection' content='telephone=no' />

    <!-- favicon/webclipicon -->
    <link rel='icon' href='/favicon.png' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <link rel='apple-touch-icon' href='/webclip.png' />

    <!-- ogp -->
    <meta property='og:site_name' content={SITE_TITLE} />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:type' content={pageType} />
    <meta property='og:title' content={pageTitle} />
    <meta property='og:description' content={pageDescription} />
    <meta property='og:image' content={new URL(pageOgpImg, Astro.url)} />
    <meta property='og:locale' content='ja_JP' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:description' content={pageDescription} />
    <meta name='twitter:image:src' content={new URL(pageOgpImg, Astro.url)} />

    <!-- noindex -->
    {noindex && <meta name='robots' content='noindex,nofollow' />}

    <!-- font -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Noto+Color+Emoji&display=swap' rel='stylesheet' />
</head>
